.calendar {
    padding: 15px 20px 20px;
    & > p {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 15px;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        &-arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            transition: all .2s ease-in-out;
            &.arrow-left {
                transform: rotate(90deg);
            }
            &.arrow-right {
                transform: rotate(-90deg);
            }
            &:hover {
                background: var(--primary);
            }
        }
        p {
            font-weight: 700;
            font-size: 16px;
        }
    }
    &__main {
        &-cap {
            hr {
                height: 1px;
                border: 0;
                background: var(--primary);
            }
            .days {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;
                span {
                    width: 34px;
                    font-weight: 400;
                    font-size: 12px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
        &-rows {
            .calendar-row {
                padding-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 28px;
                    height: 28px;
                    font-weight: 400;
                    font-size: 14px;
                    border-radius: 50%;
                    transition: all .2s ease-in-out;
                    &.today {
                        background: var(--primary);
                        &:hover {
                            cursor: default;
                            background: var(--primary);
                        }
                    }
                    &.active {
                        background: var(--primary-second-hover);
                        &:hover {
                            cursor: default;
                        }
                    }
                    &.notCurrentMonth {
                        color: var(--primary-second-hover);
                        &:hover {
                            cursor: default;
                            background: none;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        background: var(--primary-second-hover);
                    }
                }
            }
        }
    }
}