canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    background: var(--primary-second);
    border-radius: 16px;
}
.matches {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}
.midleLine {
    width: 10px;
    height: 100%;
    background: var(--primary);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    &__time {
        position: relative;
        & > p {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 30px;
            background: var(--primary);
            font-weight: 500;
            font-size: 16px;
            border-radius: 20px;
            position: absolute;
            left: 50%;
            top: 101px;
            transform: translateX(-50%);
        }
    }
    &__match {
        width: 270px;
        background: var(--primary);
        padding: 15px;
        border-radius: 20px;
        position: absolute;
        right: 30px;
        top: 180px;
        &-command {
            display: flex;
            align-items: center;
            .command {
                &__img {
                    width: 36px;
                    height: 36px;
                    background: var(--primary-second-hover);
                    border-radius: 50%;
                    margin-right: 10px;
                }
                &__info {
                    &-name {
                        display: flex;
                        align-items: flex-end;
                        p {
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                    &-position {
                        margin-left: 8px;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 12px;
                    }
                    &-stadium {
                        margin-top: 4px;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}