@media (max-width: 1430px) {
    .standings {
        &__caption {
            grid-template-columns: 26px minmax(100px, 1fr) repeat(2, 26px) 100px 38px;
            grid-column-gap: 10px;
            span {
                height: 20px;
                font-size: 12px;
                border-radius: 5px;
            }
        }
        &__body {
            &-item {
                grid-template-columns: 26px minmax(100px, 1fr) repeat(2, 26px) 100px 38px;
                grid-column-gap: 10px;
                span {
                    font-weight: 500;
                    font-size: 12px;
                    .standings__last-five {
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1600px) {
    .main {
        grid-template-columns: minmax(406px, 1fr) minmax(900px, 1fr);
    }
    .right {
        display: none;
    }
}