@media (max-width: 1720px) {
    .main {
        grid-template-columns: 450px minmax(700px, 820px) 350px;
    }
    .standings {
        &__caption {
            grid-template-columns: 20px minmax(142px, 1fr) repeat(2, 20px) 120px 38px;
            grid-column-gap: 10px;
        }
        &__body {
            &-item {
                grid-template-columns: 20px minmax(142px, 1fr) repeat(2, 20px) 120px 38px;
                grid-column-gap: 10px;
                & > div {
                    &:nth-child(2) span {
                        padding: 4px 6px 4px 4px;
                    }
                }
                span {
                    font-size: 14px;
                    .standings__team-img {
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1600px) {
    .main {
        grid-template-columns: 320px minmax(700px, 1fr) 64px;
    }
    .right {
        display: none;
    }
    .sidebar {
        display: block !important;
    }
    .sidebar-container {
        display: block !important;
    }
    .standings {
        &__caption {
            grid-template-columns: 20px minmax(142px, 1fr) repeat(2, 20px) 38px;
            grid-column-gap: 10px;
            & > div:nth-child(5) {
                display: none;
            }
        }
        &__body {
            &-item {
                grid-template-columns: 20px minmax(142px, 1fr) repeat(2, 20px) 38px;
                grid-column-gap: 10px;
                & > div:nth-child(5) {
                    display: none;
                }
                span {
                    font-size: 14px;
                    .standings__team-img {
                        margin-right: 6px;
                    }
                }
            }
        }
    }

}