<div class="calendar">
    <p>Calendar</p>
    <div class="calendar__header">
        <div class="calendar__header-arrow arrow-left">
            <svg width="16" height="16">
                <use xlink:href="static/img/sprite.svg#arrow"></use>
            </svg>
        </div>
        <p>September</p>
        <div class="calendar__header-arrow arrow-right">
            <svg width="16" height="16">
                <use xlink:href="static/img/sprite.svg#arrow"></use>
            </svg>
        </div>
    </div>
    <div class="calendar__main">
        <div class="calendar__main-cap">
            <hr>
            <div class="days">
                <span>Mon</span>
                <span>Tue</span>
                <span>Wed</span>
                <span>Thu</span>
                <span>Fri</span>
                <span>Sat</span>
                <span>Sun</span>
            </div>
            <hr>
        </div>
        <div class="calendar__main-rows"></div>
    </div>
</div>