<div class="featuredMatch">
    <p>Featured Match</p>
    <div class="featuredMatch__main">
        <div>
            <div class="featuredMatch__main-comand">
                <div class="comand-img"></div>
                <div class="comand-name">Trail Blazers</div>
            </div>
            <div class="featuredMatch__main-time">
                <p>12:00</p>
                <span>Chase Center, San Francisco, USA</span>
            </div>
            <div class="featuredMatch__main-comand">
                <div class="comand-img"></div>
                <div class="comand-name">Lakers</div>
            </div>
        </div>
        <div>
            <div class="bet betfirst"></div>
            <div class="featuredMatch__main-timer">
                <span>Today</span>
                <p>09:34:11</p>
            </div>
            <div class="bet betsecond"></div>
        </div>
    </div>
</div>