<div class="main">
  <section class="left">
    @include('league.html')
    @include('standings.html')
  </section>
  <section class="middle">
    @include('matches.html')
  </section>
  <section class="right">
    @include('calendar.html')
    @include('featured-match.html')
    @include('top-players.html')
  </section>
  
  <div class="sidebar-container"></div>
  <section class="sidebar">
    <button>
      <svg width="48" height="48">
        <use xlink:href="static/img/sprite.svg#hamburger"></use>
      </svg>
    </button>
  </section>
</div>