<div class="main">
    <section class="left">
        <div class="league">
            <div class="league-selects">
                <div class="select league-selection">
                    <button type="text">
                        <span>League selection</span>
                        <svg width="12" height="12">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <ul class="select-list list-reset">
                        <li>NBA</li>
                        <li>Euroleague</li>
                        <li>VTB league</li>
                    </ul>
                </div>
                <div class="select season-selection">
                    <button type="text">
                        <span>22/23</span>
                        <svg width="12" height="12">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <ul class="select-list list-reset">
                        <li>22/23</li>
                        <li>21/22</li>
                        <li>20/21</li>
                    </ul>
                </div>
            </div>
            <div class="league-card">
                <div class="league-img"></div>
                <div class="league-content">
                    <p class="league-name">NBA</p>
                    <div class="league-country">
                        <div class="country-icon"></div>
                        <p class="country-name">USA</p>
                    </div>
                </div>
            </div>
            <div class="league-progress"></div>
        </div>
        <div class="standings"></div>
    </section>
    <section class="middle">

    </section>
    <section class="right">
        <div class="calendar"></div>
        <div class="featured-match"></div>
        <div class="top-players"></div>
    </section>
</div>