<div class="standings">
    <div class="standings__head">
        <p class="standings__head-title">Standings</p>
        <div class="select conference-selection">
            <button type="text">
              <span>Eastern conference</span>
              <svg width="12" height="12">
                <use xlink:href="static/img/sprite.svg#arrow"></use>
              </svg>
            </button>
            <ul class="select-list list-reset">
              <li>Eastern conference</li>
              <li>Western conference</li>
            </ul>
          </div>
    </div>
    <div class="standings__main">
        <div class="standings__caption list-reset">
            <div>
                <span>№</span>
            </div>
            <div>
                <span>Team</span>
            </div>
            <div>
                <span>W</span>
            </div>
            <div>
                <span>L</span>
            </div>
            <div>
                <span>Last five</span>
            </div>
            <div>
                <span>Prnt</span>
            </div>
        </div>
        <hr>
        <ul class="standings__body list-reset"></ul>
    </div>
</div>