<div class="topPlayers">
    <div class="topPlayers__head">
        <p class="topPlayers__head-title">Top players</p>
        <div class="topPlayers__head-selects">
            <div class="select atribute-selection">
                <button type="text">
                  <span>+/- per game</span>
                  <svg width="12" height="12">
                    <use xlink:href="static/img/sprite.svg#arrow"></use>
                  </svg>
                </button>
                <ul class="select-list list-reset">
                  <li>+/- per game</li>
                  <li>Field goals</li>
                  <li>Assists to trnv</li>
                  <li>Assists</li>
                  <li>Points</li>
                  <li>Rebounds</li>
                  <li>Blocks</li>
                  <li>Steals</li>
                  <li>3-pointers</li>
                  <li>3-point prnt</li>
                  <li>Triple doubles</li>
                  <li>Double doubles</li>
                  <li>Free throws</li>
                </ul>
            </div>
            <div class="select stadySeason-selection">
                <button type="text">
                  <span>Regular</span>
                  <svg width="12" height="12">
                    <use xlink:href="static/img/sprite.svg#arrow"></use>
                  </svg>
                </button>
                <ul class="select-list list-reset">
                  <li>Regular</li>
                  <li>Playoffs</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="topPlayers__main">
        <div class="topPlayers__caption list-reset">
            <div>
                <span>№</span>
            </div>
            <div>
                <span>Name</span>
            </div>
            <div>
                <span>Double double</span>
            </div>
        </div>
        <hr>
        <ul class="topPlayers__body list-reset">
            <li class="topPlayers__body-item">
                <div>
                    <span>1</span>
                </div>
                <div>
                    <span>
                        <div class="topPlayers__person-img"></div>
                        <div>
                            <p class="topPlayers__person-name">Stephen Curry</p>
                            <div>
                                <div class="topPlayers__person-team"></div>
                                <div class="topPlayers__person-position">Guard</div>
                            </div>
                        </div>
                    </span>
                </div>
                <div>
                    <span>123</span>
                </div>
            </li>
        </ul>
    </div>
</div>